@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  /* Beige */
  --color-beige-500: #98908b;
  --color-beige-100: #f8f4f0;

  /* Grey */
  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-grey-300: #b3b3b3;
  --color-grey-100: #f2f2f2;

  /* Secondary Colors */
  --color-green: #277c78;
  --color-yellow: #f2cdac;
  --color-cyan: #82c9d7;
  --color-navy: #626070;
  --color-red: #c94736;
  --color-purple: #826cb0;

  /* Other Colors */
  --color-purple-other: #af81ba;
  --color-turquoise: #597c7c;
  --color-brown: #93674f;
  --color-magenta: #934f6f;
  --color-blue: #3f82b2;
  --color-navy-grey: #97a0ac;
  --color-army-green: #7f9161;
  --color-gold: #cab361;
  --color-orange: #be6c49;

  /* white */
  --color-white: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Public Sans", sans-serif;
}

.textPresent-1 {
  @apply font-bold text-[32px] leading-[120%] tracking-normal;
}
.textPresent-2 {
  @apply font-bold text-[20px] leading-[120%] tracking-normal;
}
.textPresent-3 {
  @apply font-bold text-[16px] leading-[150%] tracking-normal;
}
.textPresent-4 {
  @apply font-normal text-[14px] leading-[150%] tracking-normal;
}
.textPresent-4-bold {
  @apply font-bold  text-[14px] leading-[150%] tracking-normal;
}
.textPresent-5 {
  @apply font-normal text-[12px] leading-[150%] tracking-normal;
}
.textPresent-5-bold {
  @apply font-bold text-[12px] leading-[150%] tracking-normal;
}
